* {
    box-sizing: border-box;
}
body {
    font: 20px Helvetica;
    max-width: 10in;
    padding-left: 10px;
}
h1, a {
    color: #00356b;
}
#calculator {
    border-left: solid 3px #00356b;
    padding: 5px;
    min-height: 100px;
    margin-left: -8px;
}
input {
    font: inherit;
}
#disclaimer {
    color: grey;
}
