* {
    box-sizing: border-box;
}
body {
    font: 20px Helvetica;
    max-width: 10in;
    padding-left: 10px;
    line-height: 1.25;
}
h1 {
    margin-bottom: 10px;
}
h1, a {
    color: #00356b;
}
#calculator {
    padding: 5px 10px;
    min-height: 100px;
    border-left: solid 4px #00356b;
}
input {
    font: inherit;
}
#disclaimer {
    color: grey;
}
